{% extends "catalog/base_template.html" %}
{% block content %}
    {% include 'catalog/includes/inc_title_menu.html' %}
    <div class="container">
    <div class="col-12 mb-5">
    <div class="row">
        <div class="col-5">
            <div class="card text-center">
                <div class="card-body">
                    <form method="post">
                        {% csrf_token %}
                        <p>Хотите удалить продукт "{{ object.name | title }}"?</p>
                        <button type="submit" class="w-100 btn btn-lg btn-danger">Удалить</button>
                        <a href="{% url 'catalog:product_page' object.pk %}"
                           class="w-100 btn btn-lg btn-warming">Отмена</a>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
</div>
</div>